
<div class="mb-4 d-flex justify-content-end">
    <ul class="pagination">
        <% if(+posts.page -1) { %>
        <li class="page-item">
            <a class="page-link" href="/posts?page=<%= posts.page -1 %>">&laquo;</a>
        </li>
        <% }; %>
        <% for(let i = 1; i <= posts.pages; i++) { %>
        <li class="page-item <%= i == +posts.page ? 'active' : '' %>">
            <a class="page-link" href="/posts?page=<%= i %>"><%= i %></a>
        </li>
        <% } %>
        <% if((+posts.page + 1) <= posts.pages) { %>
        <li class="page-item">
            <a class="page-link" href="/posts?page=<%= +posts.page + 1 %>">&raquo;</a>
        </li>
        <% }; %>
    </ul>
</div>