<div class="container">
    <div class="row form-container justify-content-center align-items-center">
        <div class="col-10">
            <form method="POST" action="<%= `/posts/${post._id}?_method=PUT` %>" id="postEditForm" enctype="multipart/form-data">
                <fieldset>
                    <legend>Edit Post</legend>
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" name="post[title]" placeholder="Enter title" value="<%= post.title %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-2">Price</label>
                        <div class="col-sm-10">
                            <input type="price" class="form-control" id="price" name="post[price]" placeholder="Enter price" value="<%= post.price %>">
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="description" name="post[description]" rows="3"><%= post.description %></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="imageUpload" class="col-sm-2">Upload Images</label>
                        <div class=" col-sm-10">
                            <input type="file" accept="images/*" name="images" class="form-control-file" id="imageUpload"
                                aria-describedby="fileHelp" multiple>
                            <small id="fileHelp" class="form-text text-muted">Please Note: You can only upload a maximum of 4 images.</small>
                            <div class="mt-2">
                                <% post.images.forEach(function(image, i) { %>
                                    <img src="<%= image.url %>" alt="" class="img-fluid post-image m-4"/>
                                    <input type="checkbox" value="<%= image.public_id %>" id="img<%= i %>" name="imagesDelete[]" class="imageDeleteCheckbox">
                               <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="location" class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="location" name="post[location]"
                                placeholder="Enter location" value="<%= post.location %>">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="location" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success btn-block">Success</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    let form = document.getElementById('postEditForm');
    form.addEventListener('submit', function(event) {
        let uploadedImagesNumber = document.querySelectorAll('.imageDeleteCheckbox').length
        let checkedImagesNumber = document.querySelectorAll('.imageDeleteCheckbox:checked').length
        let imagesToUploadNumber = document.getElementById('imageUpload').files.length;

        imagesTotal = uploadedImagesNumber - checkedImagesNumber + imagesToUploadNumber;
        if(imagesTotal > 4) {
            event.preventDefault();
            difference = imagesTotal - 4;
            alert(`You need to delete at lease ${difference} image${difference > 1? 's': ''}`)
        }
    })

</script>