<style>
 .rating {
      float:left;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating:not(:checked) > label {
        float:right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:300%;
        /* line-height:1.2; */
        color:#ddd;
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: dodgerblue;
        
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: dodgerblue;
        
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: dodgerblue;
        
    }

    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }

    .review-container {
        transition: all 0.8s ;
    }
    .review-container > :first-child {
        visibility: hidden; 
    }
    .review-container:hover > :first-child {
        visibility:visible;
    }
    .review-container:hover {
        background-color: rgba(238,232,213,0.125);;
        
    }
</style>

<div class="container">
    <div class="modal fade" id="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger"><i class="fa fa-exclamation-triangle"></i> Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Click continue if you are sure you want to delete this item.</p>
                </div>
                <div class="modal-footer">
                    <form id="delete-form" action="<%= `/posts/${post._id}?_method=DELETE` %>" method="POST">
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 mt-5">
        <h3 class="card-header">Details of Selected Post</h3>
        <div class="card-body">
            <h5 class="card-title">Title: <%= post.title %></h5>
            <h6 class="card-subtitle text-muted">Subtitle: Support card subtitle</h6>
        </div>
        <div id='map'></div>
        <div class="card-body">
            <p class="card-text">Description: <%= post.description %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Location: <%= post.location %></li>
            <li class="list-group-item">
                <% if (post.images.length > 0) { %>
                    <% post.images.forEach(function(image) { %>
                    <img src="<%= image.url %>" alt="" class="img-fluid post-image" />
                    <% }); %>
                <% } else { %>
                    <h4 class="mt-5">No image for this post</h4>
                <% } %>
            </li>
            <li class="list-group-item">Price: <%= post.price %></li>
        </ul>
        <div class="card-body">
            <a class="btn btn-primary" type="button" href="/posts/<%= post._id %>/edit">Edit Post</a>
            <button class="btn btn-outline-danger" type="submit" data-toggle="modal" data-target="#dialog">Delete</button>
            <button class="btn btn-outline-primary pull-right" type="submit" data-toggle="modal" data-target="#review-form">Review</button>
        </div>
        <div class="card-footer text-muted">
            posted: 2 days ago
        </div>
    </div>
    <div class="review mb-5">
        <h3 class="mb-4">Reviews</h3>
        <% if (post.reviews.length > 0) { %>
            <div class="review-content">
                <% post.reviews.forEach(function(review) { %>
                <div class="container mb-3 border-bottom border-dark review-container">
                    <div class="d-flex justify-content-end">
                        <a href="#" id="edit-review" class="mx-2 text-secondary edit-review" data-toggle="modal" data-target="#review-form"><i class="fa fa-pencil"></i></a>
                        <a href="#" class="mx-3 text-danger delete-icon" data-toggle="modal" data-target="#dialog"><i class="fa fa-trash-o"></i></a>
                    </div>
                    <p class="lead review-id d-none"><%= review._id %></p>
                    <p class="lead post-id d-none"><%= post._id %></p>
                    <p class="lead"><%= review.content %></p>
                    <p class="lead">Reviewed by: <%= review.author.username %></p>
                    <%if (review.rating === 5) { %>
                        <p class="">Rating: <span class="badge badge-success badge-pill"><%= review.rating %></span></p>
                    <% } %>
                    <%if (review.rating === 4) { %>
                    <p class="">Rating: <span class="badge badge-primary badge-pill"><%= review.rating %></span></p>
                    <% } %>
                    <%if (review.rating === 3) { %>
                    <p class="">Rating: <span class="badge badge-secondary badge-pill"><%= review.rating %></span></p>
                    <% } %>
                    <%if (review.rating === 2) { %>
                    <p class="">Rating: <span class="badge badge-warning badge-pill"><%= review.rating %></span></p>
                    <% } %>
                    <%if (review.rating === 1) { %>
                    <p class="">Rating: <span class="badge badge-danger badge-pill"><%= review.rating %></span></p>
                    <% } %>  
                </div>
                <% }); %>
            </div>
                
        <% } else { %>
            <h4 class="mt-5">No reviews for this post yet</h4>
        <% } %>
    </div>
    <div class="modal fade" id="review-form">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary">Create a Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="main-form" action="/posts/reviews/<%= `${post._id}` %>" method="POST">
                        <div class="form-group row">
                            <label for="content" class="col-sm-2">Body</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="content" name="content" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2 pt-4">
                                Rating
                            </div>
                            <div class="col-sm-10">
                                <div class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Excellent">5 stars</label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Very Good">4
                                        stars</label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Good">3
                                        stars</label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Fair">2
                                        stars</label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Bad">1
                                        star</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="location" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success btn-block text-uppercase">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const post = <%- JSON.stringify(post) %>;
</script>